<chart-switcher [charts]="availableCharts" (selected)="select($event)"></chart-switcher>

<section *ngIf="'Donut' === current">
  <donut-chart></donut-chart>
</section>

<section *ngIf="'Compared Donut' === current">
  <compared-donut-chart></compared-donut-chart>
</section>

<section *ngIf="'Pie' === current">
  <pie-chart></pie-chart>
</section>

<section *ngIf="'Bar' === current">
  <bar-chart></bar-chart>
</section>

<button (click)="next()">Next One</button>
<button (click)="disconnect()">Stop!</button>
<button (click)="connect()">Restore Connection</button>
