@import './../../shared/colors.scss';
@import './../../shared/mixins.scss';




.pie-chart {
    .pie-text {
        text-anchor: middle;
        font-size: 1.2em;
        // font-family: Roboto;
        fill: $text-default;
    }
    .arc {
        &.theme1 {
            @include svg-color($theme1);
        }
        &.theme2 {
            @include svg-color($theme2);
        }
        &.theme3 {
            @include svg-color($theme3);
        }
        &.theme4 {
            @include svg-color($theme4);
        }
        &.theme5 {
            @include svg-color($theme5);
        }
        &.theme6 {
            @include svg-color($theme6);
        }
        &.theme7 {
            @include svg-color($theme7);
        }
        &.theme8 {
            @include svg-color($theme8);
        }
        &.theme9 {
            @include svg-color($theme9);
        }
        &.theme10 {
            @include svg-color($theme10);
        }
    }
}